<ul>
  <li ng-repeat="review in reviews track by $index" class="clearfix" ng-class="{'last':$last}">
    <div class="reviewer-img">
      <img src="{{ review.review.user.profile_image }}" class="image-responsive" alt="">
    </div>
    <div class="review-info">
      <div class="review-name">{{ review.review.user.name }}</div>
      <div class="rating">
        <span class="" ng-repeat="i in [].constructor(review.review.rating) track by $index">&starf;</span>          
        <span class="" ng-repeat="i in  [].constructor(5-review.review.rating) track by $index">☆</span>
      <div>
        {{ review.review.review_text }}
      </div>
    </div>
  </li>
</ul>
